<!-- any header inserts go here-->

<link rel="preconnect" href="https://fonts.gstatic.com">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Inter:wght@400;500;600;700;800;900|Source Code Pro" rel="stylesheet">

<!-- favicon-->
<link rel="shortcut icon" type="image/png" href="favicon.png">

<!-- Google Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- DYNAMIC PAGE ATTRIBUTES -->
<!--Look into this Karthik, this is important-->
<title>{{ site.title | escape }} - {% if page.title %}{{ page.title | escape }}{% endif %}</title>

<!-- Bootstrap CSS 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
-->
