<!-- LinkedIn Profile Card -->
<div class="container">
  <a href="https://www.linkedin.com/in/karthikperla/" rel="tooltip" title="View on LinkedIn">
    <div class="card card-hover d-flex">
      <div class="card-header text-right">
        <img class="card-img" src="\assets\img\lnkd.png">
      </div>
      <div class="card-block text-left">

        <h4 class="card-title"> <strong> Karthik V N P Perla </strong> </h4>

        <p class="card-text text-muted">
          <small><strong> Assistant Plant Logistics Head</strong></small> 
          <br>
          <small> Grasim Pulp & Fibre Vilayat Plant, Gujarat Area, India</small>
        </p>

      </div>
    </div>
    <br>
  </a>
</div>