<!-- LinkedIn Profile Card -->

<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" rel="tooltip" title="View on LinkedIn">
    <div class="card card-hover d-flex">
      <div class="card-header text-right">
        <img class="card-img" src="\assets\img\lnkd.png">
      </div>
      
      <div class="card-block text-left">

        <h5 class="card-title">Karthik V N P Perla</h5>

        <p class="card-text text-muted">
          <strong>Assistant Plant Logistics Head, Grasim P&F Vilayat Plant</strong>
          <br>
          <small>Gujarat Area, India</small>
          <br>
          BBA - Transportation Management
        </p>

      </div>
    </div>
</a>