---
layout: default
---
<section class="post">
    
    <header class="post-header">
        <h1 class="post-title">
            {% if page.external_url %}
            <a href="{{ page.external_url }}" class='article-link'>{{ page.title }}{{ site.external-url-indicator }}</a>
            {% else %}
            {{ page.title }}
            {% endif %}
            {% if page.draft %} <span class="draft">Draft</span> {% endif %}
        </h1>

        <h5>{{ page.date | date: "%b %Y" }} | {% include read_time.html %}</h5>

    </header>


    <article class="post-content">

        <body data-spy="scroll" data-target="#toc" data-offset="70"></body>
        <nav id="toc" data-toggle="toc" class="sticky-top" data-spy="affix"></nav>

        {{ content }}

    </article>

    {% include meta.html %}

</section>

<script>
$(function () {
    $("#toc").append();
  });
</script>

<!-- Move headings down when using anchor links -->
<script>
    var shiftWindow = function() { scrollBy(0, -70) };
    if (location.hash) shiftWindow();
    window.addEventListener("hashchange", shiftWindow);
</script>
